

.text{
    border: 5px solid black;
    height: 100px;
    width: 150px;
    overflow: hidden;

    margin-top: 200px;
    margin-left: 100px;
    padding: 10px;
    text-align: center;

    box-shadow: -5px -10px 10px blueviolet;
}

.text:hover{
    color: red;
    height: 300px;
    cursor: progress;
    border: none
}

.btn:hover{
    background-color: indianred;
}

.btn:active{

}

.nav-link:link, .nav-link:visited{
    color: red;
}